<div>  <header id="default_header" class="header_style_1">
  <!-- header bottom -->
  <div class="header_bottom"  style="background-color: #1C1C1C;">
    <div class="container" >
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo" style="padding-left: 75px;"><img src="assets/images/it_service/logo.png" alt="logo" /> </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" routerLink="/adminDashboard">Admin-Dashboard</a></li>
                <li> <a routerLink="/adminTickets">Admin-Ticket</a></li>
                <li> <a routerLink="/addCustomer">Add Customers</a></li>
                <li> <a routerLink="/customerManagement">Customer Details</a></li>
                <li> <a routerLink="/login" class="btn101">logout</a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
  <hr style="border: 65px solid #039ee3;">
  <h2 style="padding-left: 30px;margin-top: 30px;">Number of users</h2>
  <div class="row">
    <h3 class="foll col-md-2 text-nowrap">Prepaid users<br><br>{{prepaid}}</h3>
    <h3 class="foll col-md-2 text-nowrap">Postpaid users<br><br>{{postpaid}}</h3>
    <h3 class="foll col-md-2 text-nowrap">Broadband users<br><br>{{broadband}}</h3>
  </div>
</div>
