<div>  <header id="default_header" class="header_style_1">
  <!-- header bottom -->
  <div class="header_bottom"  style="background-color: #1C1C1C;">
    <div class="container" >
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo" style="padding-left: 75px;"><img src="assets/images/it_service/logo.png" alt="logo" /> </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a routerLink="/adminDashboard">Admin-Dashboard</a></li>
                <li> <a routerLink="/adminTickets">Admin-Ticket</a></li>
                <li> <a routerLink="/addCustomer">Add Customers</a></li>
                <li> <a class="active" routerLink="/customerManagement">Customer Details</a></li>
                <li> <a routerLink="/login" class="btn101">logout</a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
  <hr style="border: 65px solid #039ee3;">
  <div>
    <table>
      <tr >
        <th>Customer Name</th>
        <th>Phone</th>
        <th>Plan Category</th>
        <th>Plan Name</th>
        <th>End of plan</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let i of allCrm">
        <td>{{i.custName}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.planCategory}}</td>
        <td>{{i.planName}}</td>
        <td>{{i.starter}}</td>
        <button (click)="individual(i.phone)">Get Details</button>
      </tr>
    </table>
    <br>
  </div>
  <div class="details">
    {{this.cname}}  {{this.cdob}}  {{this.cphone}}  {{this.cgender}}  {{this.cemail}}  {{this.caddress}}
  </div>
</div>
