<div class="float-right"><button (click)="home()">Back to Home</button></div>
<div class="row">
  <div class="col-md-6 mx-auto foll row" style="margin-top: 100px;color: white;">
    <div class="full">
      <div class="main_heading text_align_center">
        <h2>AirFone Login</h2>
      </div>
    </div>
      <div class="cardy col-md-6" style="border-right: 2px solid #039ee3;padding-right: 10px;">
        <h4>ADMIN LOGIN</h4>
        <br>
        <label for="auname">Admin Username</label>
        <input type="text" [(ngModel)]="auname" id="auname">
        <br>
        <label for="aupass">Admin Password</label>
        <input type="text" [(ngModel)]="aupass" id="aupass">
        <br><br>
        <button (click)="adminLogin()">Admin login</button>
        <br><br>
      </div>
      <div class="cardy col-md-6" style="padding-left: 35px;">
        <h4>CUSTOMER LOGIN</h4>
        <br>
        <label for="phno">Phone Number</label><br>
        <input type="text" [(ngModel)]="phno" id="phno" >
        <br>
        <label for="otp">OTP</label><br>
        <input type="text" [(ngModel)]="otp" id="otp">
        <br><br>
        <button (click)="generateOtp()">Generate OTP</button>
        <button (click)="customerLogin()" style="margin-left: 15px;">Login</button>
      </div>
  </div>
</div>
